lib/torch-1.8.0+cu111-cp38-cp38-win_amd64.whl
lib/torchaudio-0.8.0-cp38-none-win_amd64.whl
lib/torchvision-0.9.0+cu111-cp38-cp38-win_amd64.whl
12/landmark/
12/negative/
12/part/
12/positive/
12/landmark.txt
12/negative.txt
12/part.txt
12/positive.txt
12/tmp.txt
24/landmark/
24/negative/
24/part/
24/positive/
24/landmark.txt
24/negative.txt
24/part.txt
24/positive.txt
24/tmp.txt
48/landmark/
48/negative/
48/part/
48/positive/
48/landmark.txt
48/negative.txt
48/part.txt
48/positive.txt
48/tmp.txt